body {
	background-color: grey;
}
#widget-container {

}

/* 360WIDGET STYLES */
#viewer-container {
	width: 500px;
	height: 75px;
	margin: auto;
}

/* THUMBNAIL CONTAINER */
.slick-track {
	opacity: 0.8 !important;
}
.thumbs {
	opacity: 0.5;
}
.thumbs:hover {
	opacity: 1;
}
.inner-image {
	background: red;
	margin: 10px;
	height: 60px;
}
button.slick-prev {
	background: url("http://www.carmax.com/img/carpage/carpage-map-zoom.png") -430px 6px no-repeat;
	position: absolute;
	top: 10px;
	left: -20px;
	height: 60px;
	width: 25px;
	border: none;
}
button.slick-next {
	background: url('http://www.carmax.com/img/carpage/carpage-map-zoom.png') -651px 6px no-repeat;
	position: absolute;
	top: 10px;
	right: -20px;
	height: 60px;
	width: 25px;
	border: none;	
}
button.slick-prev:active {
	text-decoration: none;
}
